a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  list-style-position: inside;
}

:is(ul, ol) > :is(ul, ol) {
  margin-left: 1em;
}

blockquote {
  border-left: solid var(--color-gray-light) 4px;
  padding-left: 12px;
}

code, kbd {
  background: var(--bg-rooms-members);
  padding: 2px;
  border-radius: 2px;
  font: 14px/1.125rem var(--font-monospace);
}

pre {
  margin-top: 6px;
  padding: 7px;

  border: solid var(--bg-spaces) 1px;
  border-radius: 4px;
  font: 14px/1.125rem var(--font-monospace);
  background: var(--bg-rooms-members);
  color: var(--fg-light);
  
  overflow-x: scroll;
}

kbd {
  display: inline-block;
  box-shadow: 0 2px 0 var(--bg-spaces);
  transform: translateY(-1px);
  cursor: pointer;
}

kbd:active {
  transform: translateY(0);
  box-shadow: 0 1px 0 var(--bg-spaces);
}

hr {
  margin: 8px 0;
  height: 0;
  border: solid var(--color-gray) 1px;
}

table {
  background: var(--bg-rooms-members);
  border: solid var(--bg-spaces) 1px;
  border-radius: 3px;
  border-spacing: 0;
}

td, th {
  padding: 8px;
}

th {
  background: var(--bg-spaces);
}

tr:nth-child(odd) {
  background: var(--mod-darkener);
}

summary {
  cursor: pointer;
}
