.title {
  color: var(--fg-light);
  font-family: var(--font-display);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.icon {
  font-family: "Material Icons";
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.icon {
  display: inline-flex;
}

.scroll {
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
}

.scroll.thin {
  scrollbar-width: thin;
}

* {
  scrollbar-color: var(--bg-spaces) var(--bg-rooms-members);
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: var(--bg-rooms-members);
}

::-webkit-scrollbar:hover {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-spaces);
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none;
}

.warning {  
  padding: 8px;
  margin: 1em 0 8px;
  border: solid var(--event-ping) 2px;
  background: var(--event-ping-bg);
  border-radius: 4px;
}
