@font-face {
  font-family: Whitney;
  src: url(/assets/fonts/whitney-book.otf) format("opentype");
}

@font-face {
  font-family: Whitney;
  font-style: italic;
  src: url(/assets/fonts/whitney-book-italic.otf) format("opentype");
}

@font-face {
  font-family: Whitney;
  font-weight: 500;
  src: url(/assets/fonts/whitney-medium.otf) format("opentype");
}

@font-face {
  font-family: Whitney;
  font-weight: 500;
  font-style: italic;
  src: url(/assets/fonts/whitney-medium-italic.otf) format("opentype");
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  src: url(/assets/fonts/whitney-semibold.otf) format("opentype");
}

@font-face {
  font-family: Whitney;
  font-weight: 700;
  font-style: italic;
  src: url(/assets/fonts/whitney-semibold-italic.otf) format("opentype");
}

@font-face {
  font-family: "ABC Ginto";
  src: url(/assets/fonts/abcginto.woff2) format("woff2");
}

/* TODO: properly self host

@font-face {
  font-family: "Material Icons";
  src: url(/assets/fonts/material-icons.ttf) format("ttf");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size *
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. *
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. *
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  /* Support for Firefox. *
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. *
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
*/

.icon {
  font-family: "Material Icons";
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
