:root {
  --bg-content: #36393f;
  --bg-rooms-members: #2f3136;
  --bg-spaces: #202225;
  --bg-misc: #292b2f;
  --bg-tooltip: #111215;
  --bg-context: #18191c;
  --fg-notice: #fefefe;
  --fg-content: #dcddde;
  --fg-light: #c9c9c9; /* naming is confusing, maybe TODO change? */
  --fg-dim: #9f9f9f;
  --fg-muted: #a3a6aa;
  --fg-interactive: #b9bbbe;
  --font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: "ABC Ginto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-monospace: Consolas, Andale Mono, Lucida Console, DejaVu Sans Mono, monospace;
  --color-accent: #7289da;
  --color-link: #00aff4;
  --color-red: #ed4245;
  --color-yellow: #f9a71a;
  --color-green: #3ba55d;
  --color-blue: #4651c3;
  --color-gray: #414548;
  --color-gray-light: #4f545c;
  --mod-lighten: rgba(79, 84, 92, 0.4);
  --mod-lightener: rgba(79, 84, 92, 0.6);
  --mod-darken: rgba(4, 4, 5, 0.07);
  --button-outline: #4f545c;
  --ping-bg: #5865f2;
  --ping-bgalpha: #5865f24d;
  --event-ping: #faa81a;
  --event-ping-bg: #faa81a1a;
  --event-focus: #5865f2;
  --event-focus-bg: #5865f232;
  --shadow-popup: 0 2px 10px 0 rgba(0, 0, 0, .2);
  --shadow-high: 0 8px 16px rgba(0, 0, 0, .24);
  --shadow-header:  0 1px 0 rgba(4, 4, 5, .2),
    0 1.5px 0 rgba(6, 6, 7, .05),
    0 2px 0 rgba(4, 4, 5, .05);
  --mxid-1: #f1c40f;
  --mxid-2: #3498db;
  --mxid-3: #e91e63;
  --mxid-4: #e74c3c;
  --mxid-5: #e67e22;
  --mxid-6: #1abc9c;
  --mxid-7: #9b59b6;
  --mxid-8: #2ecc71;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

body {
  font-family: var(--font-primary);
  color: var(--fg-content);
  background: var(--bg-spaces);
  text-rendering: optimizeLegibility;
}
